<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="ScHackathon.Feature.Notification.Interfaces.INotificationService, ScHackathon.Feature.Notification" implementationType="ScHackathon.Feature.Notification.Services.NotificationService, ScHackathon.Feature.Notification" />
    </services>

    <settings>
      <setting name="ScHackathon.SmtpHost" value="xx.xx.xxx.xxx" />
      <setting name="ScHackathon.SmtpPort" value="25" />
      <setting name="ScHackathon.SmtpUserName" value="" />
      <setting name="ScHackathon.SmtpPassword" value="" />
      <setting name="ScHackathon.UseDefaultCredentials" value="true" />

      <setting name="ScHackathon.SubscribeConfirmationSettingsPath" value="/sitecore/content/Email/Messages/Service Messages/Self-Service Subscription/Subscription Confirmation" />
      <setting name="ScHackathon.SubscriptionNotificationSettingsPath" value="/sitecore/content/Email/Messages/Service Messages/Self-Service Subscription/Subscription Notification" />

      <setting name="ScHackathon.SubscriptionConfirmationPage" value="/subscription-confirmation/?cid={0}&amp;eid={1}" />
    </settings>
  </sitecore>
</configuration>
