<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About Us</h2>
            <p>
                We at Sitecore Hackathon evaluate you on basis of your creativity, understanding of Sitecore and efficiency of using the most features of Sitecore to deliver quality modules. We value all the participants work and consider them as contribution to the community. We appreciate the time and effort given by all participants. You might not be a winner however in the process you might come up with a very popular module.
                The benefits of participation in the hackathon are:
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
               
                 
                    <P>
                        You would be recognized in the community </P>
                    <p>
                        You will meet new Sitecore developers
                    </p>
                    <p>
                        Sense of community and experience increases
                    </p>
                    <p>
                        You might get a module ready for Sitecore Market which would increase your contribution and value
                    </p>
                    <p>	There are prizes to be won  </p>

</p>               
            </div>
        </div>

    </div>
</section>