<section id="Gallery" class="about">
    <div class="container">
        <div class="section-title">
            <h2>Pinterest</h2>
            <a data-pin-do="embedBoard" data-pin-board-width="1000" data-pin-scale-height="500" data-pin-scale-width="60" href="https://in.pinterest.com/akshaysura/sitecore-hackathon-2018/"></a>
        </div>
    </div>
</section>


<section id="faq" class="about">
    <div class="container">
        <div class="section-title">
            <h2>Faq</h2>

        </div>
    </div>
</section>