@model  ScHackathon.Feature.Header.Models.NavigationItems

<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="/Hackathon"><span>Sitecore Hackathon</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#header">Home</a></li>
                <li ><a href="#about">About Us</a></li>
                <li><a href="#panels">Panel</a></li>
                @if (Model != null)
                {
                    <li class="drop-down">
                        <a href="#">Hackathon</a>
                        <ul>
                            @foreach (var item in Model.HackathonItems)
                            {
                                <li><a href="@item.Url">@item.Title</a></li>
                            }
                        </ul>
                    </li>
                }
                <li><a href="#Gallery">Gallery</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>
