<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="ScHackathon.Feature.Subscription.Interfaces.ISubscriptionService, ScHackathon.Feature.Subscription" implementationType="ScHackathon.Feature.Subscription.Services.SubscriptionService, ScHackathon.Feature.Subscription" />
    </services>

    <settings>
      <setting name="ScHackathon.NewsLetterContactList" value="{9ca80a8a-c8fe-4bf0-8f7c-b2945f3d17cb}" />
    </settings>
  </sitecore>
</configuration>
